body
{
    background-color: #2471A3;
}

.heading
{
    text-align: center;
    color: white;
}

#curDate
{
    font-size: 20px;
    color:yellow;
}

.box
{
    background-color: #D0ECE7;
    border-radius: 5px;
    padding: 5px;
    margin:10px;
}

#uname
{
    width: 50%; 
    height: 25px;
}

#btn1,#btn2
{
    width: 150px;
    height: 30px;
}



